services:
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${PROD_DB_PASSWORD}
      MYSQL_DATABASE: pcgear
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - 3307:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${PROD_DB_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 30s # <--- DB가 초기화될 시간을 줍니다. 이 시간 동안은 실패해도 재시도 횟수에 포함되지 않습니다.
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci

  backend:
    build:
      context: ./BackEnd/pcgear
    ports:
      - "8080:8080" 
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: on-failure

  frontend:
    build: 
      context: ./FrontEnd
      args:
        VITE_PORTONE_STORE_ID: ${VITE_PORTONE_STORE_ID}
        VITE_PORTONE_TOSSPAY_CHANNEL_KEY: ${VITE_PORTONE_TOSSPAY_CHANNEL_KEY}
    ports:
      - "3000:3000"
    depends_on:
      - backend
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    restart: on-failure


volumes:
  mysql-data: {}
  redis-data: {}